#container{
  background: #f0efef;
  height: auto;
}

header{
  background: #033048;
  float: left;
  width: 620px;
}

nav{
  padding: 20px;
}

.left{
  width: 450px;
  float: left;
  padding-left: 40px;
  padding-right: 10px;
}

img{
  width: 400px;
}

/* sorting image width? */

.readmore{
  text-align: right;
  background: #fff;
}

/* align right not working?? */

.about-relaxr img{
  width: 120px;
}
